@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-titles: 'Lato', sans-serif;
    --font-text: 'Nunito Sans', sans-serif;
}

body {
    /*background-color: red;*/
    font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6,navbar-brand {
    font-family: var(--font-titles);
}
.nav-link {
    font-family: var(--font-titles);
    color:#000;
    font-weight: bold;
}
#analitycs{
    background-color: floralwhite;
}