@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-titles: 'Lato', sans-serif;
    --font-text: 'Nunito Sans', sans-serif;
    --primary-color: #CA2400;
}

body {
    /*background-color: red;*/
    font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: var(--font-titles);
}

.nav-link {
    font-family: var(--font-titles);
    color: #000;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

#analitycs {
    background-color: floralwhite;
}

#vida_digital {
    background-color: ghostwhite;
}

.cyt {
    border: none;
}

.cyt .card-body .btn, .btn-primary {
    background-color: white;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.cyt .card-body .btn:hover, .btn-primary:hover {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.cyt img {
    width: 90%;
}