---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import BlogList from '../../components/BlogList.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const posts = (await getCollection('blog')).filter(post => post.id.startsWith(`${lang}/`)).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const t = useTranslations(lang);
const item ={
	"@context": "https://schema.org",
	"@type": "Person",
	"name": t('about.seotitle'),
	"publisher": {
		"@type": "Person",
		"name": "Marc Mayol Orell",
		"url": "https://marcmayol.com/about"
	}
}
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead title={t('about.seotitle')}
				  description={t('about.seodescription')}
				  item={item}/>
	</head>
	<body class="mm-body">
		<Header customURL="/blog/en/" />
		<BlogList posts={posts} />
		<Footer />
	</body>
</html>

<style is:global>
	body.mm-body{margin:0;background:#f2f0eb}
</style>
