.card_category {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0 !important;
}
.card_category .card{
    border-color: var(--primary-color);
}
.card_category:hover, .card_category:focus {
    color: #ffffff;
}
.card_category .card-title {
    margin-bottom: 0 !important;
}
.card-body{
    background-color: var(--primary-color);
    padding: 0.5em;
}
.card:hover, .card:focus {
    z-index: 100;
    margin-top: -1em;
    margin-bottom: 1em;
}
