---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HomeContent from '../../components/HomeContent.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const item = {
	'@context': 'https://schema.org',
	'@type': 'Person',
	'name': "Marc Mayol",
	"descriontion": t('home.seodescription'),
	'alternativeName': "Marc Mayol Orell",
	'knowsAbout': [
		"python",
		"google products",
		"Generative AI",
		"javascript",
		"vertexai",
		"OpenAi",
		"Prompt Engineering",
	]
}
---

<!doctype html>
<html lang={lang}>
<head>
	<BaseHead title={t('home.seotitle')} description={t('home.seodescription')} item={item} image="/perfil.png"/>
</head>
<body class="mm-body">
<Header />
<HomeContent />
<Footer />
</body>
</html>

<style is:global>
	body.mm-body{margin:0;background:#f2f0eb}
</style>
