---
import {Github, Linkedin, Mail} from '@lucide/astro'
const currentYear = new Date().getFullYear();
---

<div class="bg-white text-gray-900 font-sans antialiased">
	<main>

	</main>

	<footer class="border-t py-8">
		<div class="container mx-auto px-6 text-center text-gray-500 text-sm">
			© {currentYear} Marc Mayol. All rights reserved.
		</div>
	</footer>
</div>
